<!--以此为例子，我希望collection div 是一个椭圆背景， title是标题，其他作为子项,请设计UI-->
<div class="index center">
  <div class="collection">
    <div class="title">产品</div>
    <div class="item">产品管理</div>
    <div class="item">物料管理</div>
    <div class="item">财务管理</div>
  </div>

  <div class="collection">
    <div class="title">物料</div>
    <div class="item">销售管理</div>
    <div class="item">采购管理</div>
    <div class="item">人力资源</div>
  </div>

  <div class="collection">
    <div class="title">BOM</div>
    <div class="item">销售管理</div>
    <div class="item">采购管理</div>
    <div class="item">人力资源</div>
  </div>

  <div class="collection">
    <div class="title">预警</div>
    <div class="item">物料管理</div>
    <div class="item">物料预警</div>
  </div>
</div>

